.panel-default{
    border-color: gray;
    width: 250px;
    height: 250px;
}


.nomeProduto{
    font-size: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.nomeProduto{
    color: black;
    font-weight: bold;
}


.precoProduto{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 4%;
    color: black;
}

h2{
    text-align: center;
    font-weight: bold;
    margin: 15px;

}

#homeId>a{
    color: black;
}

.margem{
    padding:3% 2% 5% 3%; 
}

.panel-default:hover{
    border-color: #87CB16;
}




