.margem{
    padding:3% 2% 5% 2%; 
}

.limpar{
    margin-left: 74%;
}

.salvar{
    margin-left: 2%;
}

.ion-arrow-left-c{
    color: black;
}

.alterarSenha{
    margin-left:16%;
}

.alert-success{
    text-align: center;
}

.alert-danger{
    text-align: center;
}

.form{
    border-radius: 5px;
}

th, tr{
    text-align: center;
}

.titulo{
    text-align: center;
}

.margemForm{
    padding:3% 15% 5% 15%; 
}