tbody {
    text-align: center;
}

.margem{
    padding:3% 2% 5% 2%; 
}

.margemForm{
    padding:3% 15% 5% 15%; 
}

.uploadImage{
    margin-top:6%;
}

.limpar{
    margin-left: 74%;
}

.salvar{
    margin-left: 2%;
}

.ion-arrow-left-c{
    color: black;
}

.alert-success{
    text-align: center;
}

.alert-danger{
    text-align: center;
}

.form{
    border-radius: 5px;
}

th, tr{
    text-align: center;
}

a{
    color: black;
}

a:hover{
    color: gray;
}

.titulo{
    text-align: center;
}

.status{
    margin: 2px;
}

