.ion-arrow-left-c{
    color: black;
}

.alterarSenha{
    margin-left:16%;
}

.limpar{
    margin-left: 74%;
}

.salvar{
    margin-left: 2%;
}

.margem{
    padding:3% 2% 5% 2%; 
}

th, tr{
    text-align: center;
}

.form{
    border-radius: 3px;
}

.titulo{
    text-align: center;
}

.margemForm{
    padding:3% 15% 5% 15%; 
}
