.painelImagem{
    width: 80%;
    border-color: gray;
    margin: 50px;
    height: 340px;
}

.texto{
    margin-top:2%;
    font-weight: bold;
}

h4{
    text-align: center;
    font-weight: bold;
    margin:2%;
}

h2{
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
}

h5{
    text-align: center;
    font-weight: bold;
}


.table{
    margin-top: 35px;
}


th, tr{
    text-align: center;
}


.alergenicos{
    font-size: 15px;
    font-weight: bold;
    color: red;
    margin-left: 15px;
}

.painelPreco{
    margin-top: 0px;
    border-color: black;
    height:70px;
    width: 70%;
}

.painelInformacoes{
    width: 85%;
    margin-right: 50px;
    height: 220px;
    background-color: transparent;
    padding-left:5%;
    padding-bottom: 10%;
}

.painelDemaisInfo{
    width: 85%;
    margin-right: 50px;
    height: 110px;
    background-color: transparent;
    padding-left:5%;
    padding-bottom: 10%;
}


.ingredientes{
    margin-top:1%;
}


.botao1{
    margin-top: 15px;
    margin-left: 20%;
}

.painelTexto{
    background-color: transparent;
    border: 0 none;
}

.margem{
    padding:4% 1% 5% 4%; 
}

.painelRelacionados:hover{
    border-color: #87CB16;
}

.painelRelacionados{
    width: 250px;
    height: 230px;
}

.precoRelacionados{
    font-size: 20px;
    text-align: center;
    color: black;


}

.nomeRelacionados{
    text-align: center;
    color: black;
}

.botao2{
    margin-top: 18px;
}

a{
    color: black;
}

a:hover{
   color: gray; 
}


