.margem{
    padding:3% 2% 5% 2%; 
}

.limpar{
    margin-left: 66%;
}

.salvar{
    margin-left: 2%;
}

.ion-arrow-left-c{
    color: black;
}

.painelLogin{
    margin-top: 15%;
}

.painelEmail{
    margin-top: 15%;
}

.painelReset{
    margin-top: 15%;
}

.alert-success{
    text-align: center;
}

.btn-link{
    color: black;
}

.form{
    border-radius: 5px;
}

p{
    font-size: 15px;
}

.margemForm{
    padding:3% 15% 5% 15%; 
}