.margem{
    padding:3% 2% 5% 2%; 
}

.finalizandoVenda{
    display: none;
}

#valorTotal{
    margin-right: 40px;
}

.maisProdutos{
    margin-left: 30px;
}

.finalizar{
    margin-right: 40px;
}

.finalizandoVenda{
    display:none;
    margin-left: 20px;
}

h3{
    text-align: center;
    font-weight: bold;
    margin-bottom: 3%;
}

h4{
    text-align: center;
    font-weight: bold;
}

.botoes{
    margin-top: 20px;
}

th,td{
    text-align: center;
}

.form{
    border-radius: 5px;
}

.alert-success{
    text-align: center;
}

