.margem{
    padding:3% 2% 5% 2%; 
}

h3{
    text-align: center;
    font-weight: bold;
}

h4{
    font-weight: bold;
}

th, tr{
    text-align: center;
}

.item{
    font-weight: bold;
}

.alert-success{
    text-align: center;
}