.panel-default {
    margin-top: 20px; 
    margin-left: -10px;
    padding: 5px;
   
}

.form {
    border-radius: 10px;
}


.ion-clipboard{
    margin-left:10%;
}

.buttonIndex{
    height: 40px;
    width: 60px;
}

.buttonIndexProduct{
    height: 40px;
    width: 40px;
}
#map-canvas {
    width: 100%;
    height: 359px;
    margin-bottom: 60px;
}


.main-panel{
    overflow-x: hidden; 
}

.sidebar{
    overflow: hidden; 
}

#carrouselLeft{
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
    margin-left: -15px;
    position: absolute;
    left: 50%;
    z-index: 5;
    display: inline-block;
    top: 50%;
}

#carrouselRight {
    margin-right: -15px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
    right: 50%;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.imgCarrousel {
    position: relative;
    width: 100%;
}

.centerVert {
    margin-top: 4%;
}
.alert-danger{
    text-align: center;
}

.modal-backdrop{
   position: static !important;
}

.tachado{
    text-decoration: line-through;
}

.paginator{
    margin-left: 4%;
}

.pagination>.active>span{
    border-style: solid;
    border-color: red;
    background-color: red !important;
}

.pagination>.disabled>span, .pagination>li>a{
    border-style: solid;
    border-color: red;
    color:red;
}

.pagination>li>a:hover{
    border-style: solid;
    border-color: red;
    color:red;
}

.pagination>.disabled>span:hover{
    border-style: solid;
    border-color: red;
    color:red;
}

.pagination>.active>span:hover{
    border-style: solid;
    border-color: red;
    background-color: red !important;
}

.help-block{
    font-weight: bold;
    display:inline-block;
}
